body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: darkslategrey;
}

.player {
    width: 100px;
    height: 100px;
    position: absolute;
    padding-top: 24px;
    box-sizing: border-box;
    left: 0;
    top: 0;
}

canvas {
    cursor: crosshair;
}